{% extends 'base.html' %}


{% block content %}

<style>

.mdl-layout__content{

    width: 100vw;
    overflow-x: hidden;

}


.page-content{

width: 100vw;
    overflow: hidden;

}

pre{

    color: #52712d;
    font-size: 12px;
    line-height: 14px;
    overflow: scroll;

}


h3{

font-size: 25px;
    padding: 0px;
    margin: 0;

}

</style>

<div class="" style="margin: 15px; font-weight: lighter;">

<!--<h3>"Hello Android"</h3>-->

<p>
  <b>Django for Android</b> is a simple framework for fast development of Web Apps using <b>Django</b> and (obviously) <b>Python</b>.
  <br>
  This project is based on <a href="https://github.com/kivy/python-for-android">Python for Android</a>, thanks a lot to the team.
</p>


<hr>

<h3>Install</h3>

<pre>
pip install djangoforandroid
</pre>

<hr>

<h3>Configuration</h3>

<pre>

INSTALLED_APPS = (
    ...
    'djangoforandroid.builder',
    'djangoforandroid.mdl', #optional, for mdl support
    'djangoforandroid.d4a', #optional, for urls support
)

</pre>

<hr>



<h3>Static files and resources</h3>

<pre>
[settings.py]

ANDROID = {

    'APK': {
        'name': "App Name",
        'version': '0.1',
        'numericversion': 10,
        'package': 'com.djangoforandroid.appname',
        'icon': os.path.join(BASE_DIR, 'static', 'images', 'icon.png'),
    },

    'ANDROID': {
        'ARCH': 'armeabi-v7a',
        'SDK': '/absolute/path/to/android-sdk-linux',
        'API': '21',
        'CRYSTAX_NDK': '/absolute/path/to/crystax-ndk-10.3.2',
        'CRYSTAX_NDK_VERSION': '10.3.2',
    },
}


STATICFILES_DIRS = [
    os.path.join(BASE_DIR, "static"),
]

STATICFILES_DIRS = [
    os.path.join(BASE_DIR, "static"),
]

[urls.py]

url(r'^d4a/', include('djangoforandroid.d4a.urls')),

</pre>

<hr>


<h3>Generate APK</h3>

<pre>
python manage.py androidapk
</pre>


</div>


{% endblock %}

