{% extends 'base.html' %}


{% block title_page %}Fonts{% endblock %}

{% block content %}


<div class="" style="margin: 15px;">


<p style="font-family: 'Roboto'; font-weight: normal;">
<span style="font-size: 200%">Roboto [normal]</span><br>
{% lorem 20 w random %}.
</p>

<p style="font-family: 'Roboto'; font-weight: lighter;">
<span style="font-size: 200%">Roboto [lighter]</span><br>
{% lorem 20 w random %}.
</p>

<p style="font-family: 'Roboto'; font-weight: bold;">
<span style="font-size: 200%">Roboto [bold]</span><br>
{% lorem 20 w random %}.
</p>



<p style="font-family: 'Ubuntu'; font-weight: normal;">
<span style="font-size: 200%">Ubuntu [normal]</span><br>
{% lorem 20 w random %}.
</p>

<p style="font-family: 'Ubuntu'; font-weight: 300;">
<span style="font-size: 200%">Ubuntu [300]</span><br>
{% lorem 20 w random %}.
</p>


<p style="font-family: 'Ubuntu'; font-weight: 700;">
<span style="font-size: 200%">Ubuntu [700]</span><br>
{% lorem 20 w random %}.
</p>



<p>
<span style="font-size: 200%">Iconfont</span><br>
<i class="material-icons">android</i>
<i class="material-icons">shopping_cart</i>
<i class="material-icons">volume_up</i>
<i class="material-icons">speaker</i>
<i class="material-icons">navigation</i>
<i class="material-icons">call</i>
<i class="material-icons">drafts</i>
</p>


<p>
<span style="font-size: 200%">Font Awesome</span><br>
<i class="fa fa-camera-retro fa-lg"></i>
<i class="fa fa-camera-retro fa-2x"></i>
<i class="fa fa-camera-retro fa-3x"></i>
<i class="fa fa-camera-retro fa-4x"></i>
<i class="fa fa-camera-retro fa-5x"></i>
</p>


<p>
<span style="font-size: 200%">Font Awesome [Animated]</span><br>
<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</p>


</div>


{% endblock %}