{% extends 'base.html' %}


{% block title_page %}Slider{% endblock %}


{% block content %}


<style>

.d4a-sliderh-parent{


}

.d4a-sliderh{

width: 100vw;
height: 29vh;

}


body{
background-color: #9c27b0;
}


</style>




<div class="d4a-sliderh-parent" style="display: inline-flex; margin-top: 0px;">
    <div class="d4a-sliderh" style="background-color: #01579B;"></div>
    <div class="d4a-sliderh" style="background-color: #0277BD;"></div>
    <div class="d4a-sliderh" style="background-color: #0288D1;"></div>
    <div class="d4a-sliderh" style="background-color: #039BE5;"></div>
    <div class="d4a-sliderh" style="background-color: #03A9F4;"></div>
    <div class="d4a-sliderh" style="background-color: #29B6F6;"></div>
    <div class="d4a-sliderh" style="background-color: #4FC3F7;"></div>
    <div class="d4a-sliderh" style="background-color: #81D4FA;"></div>
    <div class="d4a-sliderh" style="background-color: #B3E5FC;"></div>
</div>

<div class="d4a-sliderh-parent" style="display: inline-flex; margin-top: -5px;">
    <div class="d4a-sliderh" style="background-color: #BF360C;"></div>
    <div class="d4a-sliderh" style="background-color: #D84315;"></div>
    <div class="d4a-sliderh" style="background-color: #E64A19;"></div>
    <div class="d4a-sliderh" style="background-color: #F4511E;"></div>
    <div class="d4a-sliderh" style="background-color: #FF5722;"></div>
    <div class="d4a-sliderh" style="background-color: #FF7043;"></div>
    <div class="d4a-sliderh" style="background-color: #FF8A65;"></div>
    <div class="d4a-sliderh" style="background-color: #FFAB91;"></div>
    <div class="d4a-sliderh" style="background-color: #FFCCBC;"></div>
</div>

<div class="d4a-sliderh-parent" style="display: inline-flex; margin-top: -5px;">
    <div class="d4a-sliderh" style="background-color: #4A148C;"></div>
    <div class="d4a-sliderh" style="background-color: #6A1B9A;"></div>
    <div class="d4a-sliderh" style="background-color: #7B1FA2;"></div>
    <div class="d4a-sliderh" style="background-color: #8E24AA;"></div>
    <div class="d4a-sliderh" style="background-color: #9C27B0;"></div>
    <div class="d4a-sliderh" style="background-color: #AB47BC;"></div>
    <div class="d4a-sliderh" style="background-color: #BA68C8;"></div>
    <div class="d4a-sliderh" style="background-color: #CE93D8;"></div>
    <div class="d4a-sliderh" style="background-color: #E1BEE7;"></div>
</div>

</div>


{% endblock %}