
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title></title>
    </head>
    <body>
    <div id="splash"></div>



    <style>
    body {
        overflow: hidden;
        margin: 0;
        background-color: #8bc34a;
    }



    body #splash {

        background-size: 95vw;
        max-width: 90vw;
        height: 75vh;
        margin: 0 auto;
        background-image: url("background.png"), url("/static/images/background.png");
        background-repeat: no-repeat;
        background-position: center;
        }

    </style>




    </body>
</html>
